@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: vazirLight;
    src: url('../Fonts/vazir/Vazir-Light.woff2');
  }

  @font-face {
    font-family: vazirBold;
    src: url('../Fonts/vazir/Vazir-Bold.woff2');
  }

  @font-face {
    font-family: vazirMedium;
    src: url('../Fonts/vazir/Vazir-Bold.woff2');
  }
}

.errorInput {
  box-shadow: 0 0 0 4px #d3282842 !important;
 
}

.errorInput:focus {
  box-shadow: 0 0 0 4px #d3282842 !important;

}

.dark div:where(.swal2-container).swal2-center>.swal2-popup {
  font-family: vazirlight !important;
  background: #222222 !important;

}

.dark .swal2-title {
  color: white !important;
}

.dark .swal2-success-circular-line-left,
.swal2-success-fix,
.swal2-success-circular-line-right {
  display: none !important;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
  font-family: vazirlight !important;
  background: #dedede !important;

}

.swal2-title {
  color: black !important;
}

.swal2-success-circular-line-left,
.swal2-success-fix,
.swal2-success-circular-line-right {
  display: none !important;
}

.dark .active_Link {
  background-color: #d49605;
  color: black;
}

.active_Link {
  background-color: red;
  color: white;
}

/*start btn */
.btn {
  background: #e3e3e3;
}

.dark .btn {
  background: #1c1c24;
}

.dark .active__Btn {
  background: #ffc64216;
  color: #ffc542;
}

.active__Btn {
  background: #ff424257;
  color: #ff4242;
}

/* end btn */

.loaderSong {
  height: 20px;
  display: flex;
  align-items: center;
}

.loaderSong .stroke {
  display: block;
  background-color: #f1f1f1;
  height: 100%;
  width: 4px;
  border-radius: 50px;
  margin: 0 2px;
  animation: animate 1s linear infinite alternate;

}

@keyframes animate {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}


/* loader */

/* drag drop */

.activeEdit section,
.removePlayList {
  animation: begindrag 1.5s linear infinite alternate;
}

.activeEdit section:nth-child(even) {
  animation-delay: -1.5s;
}

@keyframes begindrag {
  0% {
    transform: rotate(0deg)
  }

  10% {
    transform: rotate(-0.5deg)
  }

  30% {
    transform: rotate(0.5deg)
  }

  55% {
    transform: rotate(-0.5deg)
  }

  80% {
    transform: rotate(0.5deg)
  }

  100% {
    transform: rotate(0deg)
  }
}








@layer utilities {



  /* drag drop */

  header label {
    box-shadow: inset 0px 5px 15px rgb(0 0 0 / 30%), inset 0px -5px 15px rgb(45 6 6 / 30%);
    background-color: #000;
  }

  header label:after {
    content: '';
    position: absolute;
    height: 50%;
    width: 17px;
    background: linear-gradient(#000000, #4a4a4a);
    border-radius: 100px;
    top: 8px;
    left: 10px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #dark-mode:checked~label:after {
    right: 0px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, rgb(176, 240, 0), #d49605);
  }



  .introSwiper .swiper-button-prev:after,
  .introSwiper .swiper-button-next:after {
    font-size: 20px;
    color: white;
  }

  .introSwiper2 .swiper-button-prev:after,
  .introSwiper2 .swiper-button-next:after {
    font-size: 20px;
    color: white;
  }

  .music-controll-bg {
    background-color: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

  }

  .play-icon-bg:hover {
    box-shadow: 0 0 15px hsla(0, 0%, 100%, .2);
  }

  @media (min-width:900px) {
    #drawer-example {
      display: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }

  .appearance-none {
    appearance: auto !important;
  }

  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 5px;
    width: 90%;
  }

  .progress {
    background: #000000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    position: relative;
    height: 5px;
    transition: width 0.1s linear;
    left: -1px;
    margin-right: auto;
  }



  .vjs-control-bar {
    display: none !important;
  }

  .video-js .vjs-control-bar {
    display: none !important;
  }

  @media (min-width:1201px) {
    .videoParent {
      height: 302px !important;
    }
  }

  @media (min-width:1351px) {
    .videoParent {
      height: 360px !important;
    }

    #wrapper {
      grid-template-columns: repeat(4, 1fr) !important;

    }

    #allArtist {
      grid-template-columns: repeat(6, 1fr) !important;

    }
  }

  @media (max-width:375px) {
    #allArtist {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  .iziToast-message {
    font-family: vazirlight !important;
    ;
  }

  .errorInput {
    box-shadow: 0 0 0 4px #d3282842;

  }

  .errorInput:focus {
    box-shadow: 0 0 0 4px #d3282842;

  }   

  .vjs-control-bar {
    display: none !important;
  }

  .video-js .vjs-control-bar {
    display: none !important;
  }

  @media (min-width:1201px) {
    .videoParent {
      height: 302px !important;
    }
  }

  @media (min-width:1351px) {
    .videoParent {
      height: 325px !important;
    }

    #wrapper {
      grid-template-columns: repeat(4, 1fr) !important;

    }

    #allArtist {
      grid-template-columns: repeat(6, 1fr) !important;

    }
  }

  @media (max-width:375px) {
    #allArtist {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  .iziToast-message {
    font-family: vazirlight !important;
  }

  #searchInput:focus {
    box-shadow: none !important;
  }

  .dark .waviy span {
    color: white !important;
  }

  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 26px;
    margin: 40px 0px 18px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }

  @keyframes flip {

    0%,
    80% {
      transform: rotateY(360deg)
    }
  }

  .dark #searchInput::placeholder{
    color: rgba(255, 255, 255, 0.727) !important;
  }
  #searchInput::placeholder{
    color: rgba(0, 0, 0, 0.727) !important;
  }
}