@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: vazirLight;
        src: url('../Fonts/vazir/Vazir-Light.woff2');
    }
    @font-face {
        font-family: vazirBold;
        src: url('../Fonts/vazir/Vazir-Bold.woff2');
    }
    @font-face {
        font-family: vazirMedium;
        src: url('../Fonts/vazir/Vazir-Bold.woff2');
    }
}